<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <!-- Agregar enlaces a los archivos de Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="planta.component.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre común</th>
            <th scope="col">Nombre cientifico</th>
            <th scope="col">Tipo</th>
            <th scope="col">Altura máxima</th>
            <th scope="col">Clima</th>
            <th scope="col">Sustrato siembra</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of plantas">
            <td>
              <dd>{{p.id}}</dd>
            </td>
            <td>
              <dd>{{p.nombre_comun}}</dd>
            </td>
            <td>
              <dd>{{p.nombre_cientifico}}</dd>
            </td>
            <td>
              <dd>{{p.tipo}}</dd>
            </td>
            <td>
              <dd>{{p.altura_maxima}}</dd>
            </td>
            <td>
              <dd>{{p.clima}}</dd>
            </td>
            <td>
              <dd>{{p.sustrato_siembra}}</dd>
            </td>
        </tr>
          <!-- Puedes agregar más filas según sea necesario -->
        </tbody>
      </table>
    </div>
    <p class="m-0">Total de plantas exterior: {{getTotalPlantasExterior()}}</p>
    <p class="m-0">Total de plantas interior: {{getTotalPlantasInterior()}}</p>        
  </div>
</body>
</html>