.h4{
    font-weight: bold;
    font-size: 18px;
    font: Inter;
}
.container-fluid{
    max-width: 95%; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.table{
    text-align: left;
}

.espacio-vertical {
    margin-bottom: 20px; /* Ajusta el valor según el espacio deseado */
  }